.posts {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.5rem;
  gap: 1rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  @media screen and (min-width: 1400px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.noPostInfo {
  font-family: "RobotoSlab";
  font-size: 2rem;
  margin-bottom: 2rem;
}
