@use "../../../styles/abstracts/colors.scss";

.contactsContainer {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0.0625rem 0.25rem rgba(black, 0.1),
    0 0 0.125rem rgba(black, 0.1);

  &__brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    img {
      height: 3rem;
    }
    h3 {
      color: colors.$gray-primary;
      text-transform: uppercase;
      //   display: none;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 0.8rem;
    &::-webkit-scrollbar {
      width: 0.2rem;
      &-thumb {
        background-color: #ffffff39;
        width: 0.1rem;
        border-radius: 1rem;
      }
    }

    .contact {
      background-color: #ffffff31;
      min-height: 5rem;
      cursor: pointer;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s ease-in-out;
      .avatar {
        img {
          height: 3rem;
          border-radius: 50%;
        }
      }
      .username {
        h3 {
          color: colors.$gray-primary;

          display: none;
        }
      }
      &:hover {
        filter: brightness(80%);
      }
    }

    .selected {
      /* background-color: #9a86f3; */
      background-color: rgba(45, 136, 255, 0.1);
    }
    @media screen and (min-width: 720px) {
      .contact {
        flex-direction: row;
        justify-content: flex-start;

        padding: 0.4rem;
        gap: 1rem;
        .username {
          h3 {
            color: colors.$gray-primary;

            display: block;
          }
        }
      }
    }
  }
  .current-user {
    background-color: #18191a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 0.2px solid #ffffff15;
    .avatar {
      height: 3.1rem;
      position: relative;
      img {
        height: 3.1rem;
        border-radius: 50%;

        /* max-inline-size: 100%; */
      }
    }
    .username {
      h2 {
        color: #ffffff15;
        display: none;
      }
    }
    @media screen and (min-width: 720px) {
      gap: 1rem;
      justify-content: flex-start;
      padding: 0.4rem;

      .username {
        h2 {
          font-size: 1rem;
          display: block;
          font-size: 1.2rem;
        }
      }
    }
  }
  @media screen and (max-width: 900px) and (orientation: landscape) {
    grid-template-rows: 15% 70% 15%;
    .contacts {
      .contact {
        min-height: 4rem;
      }
    }
    h3 {
      display: none;
    }
  }
}
