@use "../../styles/abstracts/colors.scss";
@use "../../styles/abstracts/breakpoints.scss";

.container {
  background-color: colors.$gray-body;
  main {
    max-width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    padding: 1.5rem 2rem;
  }
}
