@font-face {
  font-family: "Welcome";
  src: url("./Welcome-2019.ttf");
}
@font-face {
  font-family: "RobotoSlab";
  src: url("./RobotoSlab.ttf");
}
@font-face {
  font-family: "RobotoSlabLight";
  src: url("./RobotoSlab-Light.ttf");
}
