@use "./styles/abstracts/colors.scss";

.App {
  text-align: center;
}

.gradient {
  background: -webkit-linear-gradient(
    180deg,
    colors.$yellow,
    colors.$pink-primary
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Welcome";
}
