.HomeHelpContainer {
  max-width: 800px;

  width: 100%;
  margin: 0 auto;
  // padding: 4rem 2rem;

  .HelpHeader {
    font-weight: bold;
    font-size: 1.6rem;
    padding: 4rem 0;
  }
  .InputContainer {
    display: flex;
    width: 80%;
    background-color: rgb(250, 250, 250);
    color: rgb(96, 103, 112);
    margin-top: 1.8rem;
    margin-bottom: 2.5rem;
    padding: 1.1rem 1rem;
    border-radius: 2%;
    &__searchButton {
      font-size: 2rem;
    }
    &__input {
      width: 100%;
      border: none;
      background: transparent;
      font-size: 1.2rem;
      padding-left: 1rem;
      outline: none;
    }
  }
  .mostSearched {
    text-align: left;
    padding: 0rem 2.3rem;
    &__header {
      font-size: 1.5rem;
      font-weight: 600;
      color: rgb(38, 38, 38);
    }
    &__topic {
      padding: 0.6rem 0;

      a {
        text-decoration: none;
        color: rgb(0, 149, 246);
        font-size: 1.1rem;
      }
    }
  }
}
