@use "../../styles/abstracts/colors.scss";
@use "../../styles/abstracts/breakpoints";
.nav {
  width: 100%;
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0.7rem 2rem;

  &__logo {
    a {
      background: -webkit-linear-gradient(
        180deg,
        colors.$yellow,
        colors.$pink-primary
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 3rem;
      font-family: "Welcome";
    }
  }

  &__auth {
    a {
      display: flex;
      justify-content: center;
      gap: 1.3rem;
    }
    &__avatar {
      border-radius: 50%;
      height: 3.3rem;
      width: 3.3rem;
      @include breakpoints.l {
        height: 2.8rem;
        width: 2.8rem;
      }
    }
    &__username {
      color: #f9f9f9;
      display: none;
      font-size: 1.2rem;
      align-self: center;
      @include breakpoints.md {
        display: block;
      }
    }
  }
}
